<section class="faq">
  <div class="container faq-container">
    <h2 class="faq-title">Все, що ви хотіли знати</h2>

    <!-- 1 -->
    <div class="ac faq-item faq-item-1">
      <h3 class="ac-header faq-header">
        <button type="button" class="ac-trigger faq-trigger">
          Я мрію про пухнастика! Що потрібно зробити, щоб забрати хвостика
          додому?
          <span class="faq-icons" aria-hidden="true">
            <svg class="icon-plus" width="14" height="14">
              <use href="./img/icons.svg#icon-plus"></use>
            </svg>
            <svg class="icon-close" width="14" height="14">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel faq-panel">
        <div class="ac-text faq-text" id="faq-panel">
          <p class="ac-text-title">
            Це чудово, що ви готові подарувати дім одному з наших підопічних! Ми
            дуже раді будемо вам у цьому допомогти. Процес «усиновлення» у нас
            простий та зрозумілий:
          </p>
          <ol class="faq-list-first">
            <li class="faq-list-li">
              Оберіть друга: Придивіться до наших хвостиків у розділі «Знайди
              друга».
            </li>
            <li class="faq-list-li">
              Залиште заявку: Коли відчуєте, що це «ваша» тваринка, натискайте
              кнопку «Взяти додому» та заповніть коротку анкету.
            </li>
            <li class="faq-list-li">
              Поговоріть з куратором: Наш волонтер зателефонує вам, щоб
              познайомитись ближче, розповісти про характер тваринки та
              відповісти на всі ваші питання.
            </li>
            <li class="faq-list-li">
              Приїжджайте знайомитись: Якщо ви ідеально підходите одне одному,
              ми домовимось про зустріч у притулку.
            </li>
            <li class="faq-list-li">
              Дорога додому: Після знайомства та підписання договору про
              відповідальне утримання, ваш новий друг поїде з вами у своє нове,
              щасливе життя!
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="ac faq-item faq-item-2">
      <h3 class="ac-header faq-header">
        <button type="button" class="ac-trigger faq-trigger">
          Як мені найкраще підготувати свій дім та родину до появи хвостика?
          <span class="faq-icons" aria-hidden="true">
            <svg class="icon-plus" width="14" height="14">
              <use href="./img/icons.svg#icon-plus"></use>
            </svg>
            <svg class="icon-close" width="14" height="14">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel faq-panel">
        <div class="ac-text faq-text ac-text-title" id="faq-panel">
          <p class="ac-text-title">
            Чудове питання, яке показує вашу турботу! Переїзд — це завжди
            невеликий стрес для тваринки, але правильна підготовка зробить цей
            процес легким і радісним. Ось кілька порад:
          </p>
          <ul class="faq-list">
            <li class="faq-list-li">
              Безпечний простір: Переконайтесь, що на вікнах є сітки, а дроти та
              побутова хімія сховані.
            </li>
            <li class="faq-list-li">
              Особисті речі: Підготуйте для хвостика дві мисочки (для їжі та
              води), лежанку чи будиночок, лоток з наповнювачем для котика або
              повідець і нашийник для собачки.
            </li>
            <li class="faq-list-li">
              Сімейна розмова: Обговоріть з рідними майбутні обов'язки. Важливо,
              щоб усі були готові до появи нового мешканця.
            </li>
            <li class="faq-list-li">
              Терпіння та любов: Дайте тваринці час, щоб звикнути. Не квапте її,
              будьте поруч, розмовляйте лагідним голосом — і ваша любов
              творитиме дива!
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="ac faq-item faq-item-3">
      <h3 class="ac-header faq-header">
        <button type="button" class="ac-trigger faq-trigger">
          Чи можу я бути впевненим, що тваринка здорова? Розкажіть про щеплення.
          <span class="faq-icons" aria-hidden="true">
            <svg class="icon-plus" width="14" height="14">
              <use href="./img/icons.svg#icon-plus"></use>
            </svg>
            <svg class="icon-close" width="14" height="14">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel faq-panel">
        <div class="ac-text faq-text ac-text-title" id="faq-panel">
          <p class="ac-text-title">
            Так, звісно. Здоров'я наших підопічних — наш головний пріоритет.
            Кожна тваринка, яка потрапляє до нас, проходить повний огляд у
            ветеринара. Ми гарантуємо, що:
          </p>
          <ul class="faq-list">
            <li class="faq-list-li">
              Усі хвостики оброблені від бліх та глистів.
            </li>
            <li class="faq-list-li">
              Усі вакциновані комплексною вакциною за віком.
            </li>
            <li class="faq-list-li">
              Дорослі тварини (зазвичай від 6–8 місяців)
              стерилізовані/кастровані.
            </li>
          </ul>
          <p>
            Разом із тваринкою ви обов'язково отримаєте її ветеринарний паспорт
            з усіма відмітками. Якщо у когось є особливі потреби у догляді чи
            харчуванні, ми чесно і детально про це розповімо.
          </p>
        </div>
      </div>
    </div>

    <!-- 4 -->
    <div class="ac faq-item faq-item-4">
      <h3 class="ac-header faq-header">
        <button type="button" class="ac-trigger faq-trigger">
          Я дуже хочу допомогти, але поки не готовий до адопції. Чим я можу
          підтримати «Хатинку лапок»?
          <span class="faq-icons" aria-hidden="true">
            <svg class="icon-plus" width="14" height="14">
              <use href="./img/icons.svg#icon-plus"></use>
            </svg>
            <svg class="icon-close" width="14" height="14">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel faq-panel">
        <div class="ac-text faq-text" id="faq-panel">
          <p class="ac-text-title">
            Дякуємо вам за велике серце та бажання допомогти! Кожна допомога для
            нас безцінна. Навіть якщо ви не можете взяти тваринку, ви можете
            стати її янголом-охоронцем. Ось як:
          </p>
          <ul class="faq-list">
            <li class="faq-list-li">
              Допомогти фінансово: Ваша пожертва піде на корм, ліки, оплату
              комунальних послуг та зарплату персоналу.
            </li>
            <li class="faq-list-li">
              Стати волонтером: Нам завжди потрібні люблячі руки для прогулянок
              з собачками, прибирання та, найголовніше, для спілкування з
              тваринками.
            </li>
            <li class="faq-list-li">
              Подарувати необхідне: Ми завжди раді кормам, лікам, наповнювачам
              для лотків, іграшкам, теплим ковдрам.
            </li>
            <li class="faq-list-li">
              Допомогти інформаційно: Найпростіший, але дуже дієвий спосіб —
              розповідати про нас у соцмережах. Можливо, саме ваш репост
              допоможе комусь знайти свою долю!
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 5 -->
    <div class="ac faq-item faq-item-5">
      <h3 class="ac-header faq-header">
        <button type="button" class="ac-trigger faq-trigger">
          Мені сподобалась одна з ваших тваринок на сайті. Чи можу я приїхати,
          щоб познайомитися з нею особисто?
          <span class="faq-icons" aria-hidden="true">
            <svg class="icon-plus" width="14" height="14">
              <use href="./img/icons.svg#icon-plus"></use>
            </svg>
            <svg class="icon-close" width="14" height="14">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel faq-panel">
        <div class="ac-text faq-text" id="faq-panel">
          <p class="ac-text-title">
            Авжеж! Ми віримо, що справжня магія стається лише при особистій
            зустрічі. Щоб знайомство було комфортним для всіх, спочатку
            заповніть онлайн-заявку на нашому сайті.
          </p>
          <p>
            Після цього з вами зв'яжеться куратор тваринки, щоб домовитись про
            зручний час для вашого візиту. Такий підхід дозволяє нам приділити
            вам максимум уваги та уникнути зайвого стресу для наших підопічних.
            З нетерпінням чекаємо на знайомство!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
