<header class="header">
  <div class="container header-container">
    <div class="logo-box-header">
      <a href="index.html" class="header-logo" aria-label="pet logo link">
        <svg class="header-logo-svg" width="53" height="52">
          <use href="./img/icons.svg#icon-favicon"></use>
        </svg>
        <p class="logo-text">
          Хатинка <br />
          Лапок
        </p>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a
            href="#pets-list"
            class="header-nav-link"
            data-scroll-to="pets-list"
            >Знайди друга</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#about-us" class="header-nav-link" data-scroll-to="about-us"
            >Про нас</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#faq" class="header-nav-link" data-scroll-to="faq"
            >Часті запитання</a
          >
        </li>
        <li class="header-nav-list-item">
          <a
            href="#success-stories"
            class="header-nav-link"
            data-scroll-to="success-stories"
            >Історії успіху</a
          >
        </li>
      </ul>
    </nav>
    <a
      href="#pets-list"
      class="help-link"
      aria-label="Взяти друга"
      data-scroll-to="pets-list"
    >
      Взяти друга
    </a>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-svg" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
