<header class="header">
  <div class="container header-container">
     <div class="logo-box-header">
        <a href="index.html" class="header-logo" aria-label="pet logo link">
        <img class="header-logo-svg" src="./public/favicon.svg" alt="pet logo" />
        <p class="logo-text">Хатинка <br> Лапок</p>
        </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#hero" class="header-nav-link" data-scroll-to="hero">Знайди друга</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#about-us" class="header-nav-link" data-scroll-to="about-us">Про нас</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#faq" class="header-nav-link" data-scroll-to="faq">Часті запитання</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#success-stories" class="header-nav-link" data-scroll-to="success-stories">Історії успіху</a>
        </li>
      </ul>
    </nav>
    <div class="help-link">
        <a href="#pets-list"  aria-label="pet help link" data-scroll-to="pets-list">
          <p class="help-link-btn">Взяти друга</p>
        </a>
    </div>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-svg" width="19" height="13">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>