<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <div class="mobile-header">
      <div class="logo-box-header">
        <a href="index.html" class="header-logo" aria-label="pet logo link">
          <img
            class="header-logo-svg"
            src="./public/favicon.svg"
            alt="pet logo"
          />
          <p class="logo-text">
            Хатинка <br />
            Лапок
          </p>
        </a>
      </div>

      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg class="mobile-menu-svg" width="14" height="14">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a
            href="#pets-list"
            class="mobile-menu-nav-link"
            data-scroll-to="pets-list"
            >Знайди друга</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            href="#about-us"
            class="mobile-menu-nav-link"
            data-scroll-to="about-us"
            >Про нас</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#faq" class="mobile-menu-nav-link" data-scroll-to="faq"
            >Часті запитання</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            href="#success-stories"
            class="mobile-menu-nav-link"
            data-scroll-to="success-stories"
            >Історії успіху</a
          >
        </li>
      </ul>
      <div class="mobile-help-link">
        <a
          href="#pets-list"
          aria-label="pet help link"
          data-scroll-to="pets-list"
        >
          <p class="help-link-btn">Взяти друга</p>
        </a>
      </div>
    </nav>
  </div>
</div>
