.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 64px 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}


.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
}
.modal-info-head{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.modal-body {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.modal-left {
  flex: 1 1 300px;
}

.modal-left img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.modal-right {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-right p{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.modal-species {
  font-size: 14px;
  color: #555;
}

.modal-name {
  font-size: 28px;
  margin: 5px 0;
}

.modal-info {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
  font-weight: 500;

}

.modal-info span {
  font-weight: 500;
}

.modal-right p {
  margin: 5px 0;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
}

.modal-adopt-btn {
  width: 100%;
  height: 53px;
  background-color: #8b7155;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;
}

/* Hover / Focus */
.modal-adopt-btn:hover,
.modal-adopt-btn:focus {
  background-color: #c1b39a;
  color: #1f1f1f;
}

/* Active */
.modal-adopt-btn:active {
  background-color: #b3a48a;
  color: #1f1f1f;
}

/* Disabled */
.modal-adopt-btn:disabled {
  background-color: #d9d3cb;
  border-color: #bdb6ad;
  color: #ffffff;
  cursor: not-allowed;
}

.no-scroll {
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 768px;
    padding: 64px 32px;
  }

  .modal-body {
    flex-direction: row;
    flex-wrap: nowrap; /* ВАЖЛИВО */
  }

  .modal-left {
    flex: 0 0 280px;
  }

  .modal-left img {
    width: 280px;
    height: 400px;
  }

  .modal-right {
    flex: 1;
  }
  .modal-right p{
    order: 1;
  }
  .modal-adopt-btn{
    order: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .info-modal {
    max-width: 1320px;
    padding: 64px;
  }
  .order-modal{
    padding: 64px;
  }
    .modal-left img {
    width: 576px;
    height: 450px;
  }
  
  .modal-left {
    flex: 0 0 600px;
  }
   .modal-right p,.modal-adopt-btn
    {
    order: initial;
  }
  
}