.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
}

.modal-body {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.modal-left {
  flex: 1 1 300px;
}

.modal-left img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.modal-right {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-species {
  font-size: 14px;
  color: #555;
}

.modal-name {
  font-size: 28px;
  margin: 5px 0;
}

.modal-info {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
}

.modal-info span {
  font-weight: 500;
}

.modal-right p {
  margin: 5px 0;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
}

.modal-adopt-btn {
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #8b7155;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  align-self: start;
  transition: background-color 0.3s;
}

.modal-adopt-btn:hover {
  background-color: #7a6147;
}
.order-modal{
    padding: 64px 20px;
}
.order-modal__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #111827;
  align-self: center;
}

/* ===== Form ===== */
.order-form {   
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

/* ===== Form group ===== */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 100%;
}

.form-group label {
  font-size: 14px;
  color: #111827;
}

.form-group label span {
  color: #dc2626;
}

/* ===== Inputs ===== */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 14px;
  background: #efede9;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  color: #111827;
  resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #6b7280;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  background: #e9e6e1;
}

/* ===== Submit button ===== */
.submit-btn {
  margin-top: 12px;
  padding: 14px;
  background: #8b7355;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.submit-btn:hover {
  background: #7a644b;
}
.hidden{
  display: none;

}
