.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #f6f4f1;
  padding: 64px 20px;
  border-radius: 10px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
}
.modal-info-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-body {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.modal-left img {
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.modal-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-right p {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-species {
  font-size: 12px;
}

.modal-name {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.modal-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  color: #02060a;
}

.modal-info span {
  font-weight: 400;
  font-size: 12px;
}

.modal-right p {
  line-height: 1.5;
  font-size: 14px;
  color: #02060a;
}

.modal-adopt-btn {
  width: 295px;
  height: 45px;
  background-color: #8b7155;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}
@media screen and (min-width: 320px) {
  .modal-adopt-btn {
    width: 100%;
  }
}


.modal-adopt-btn:hover,
.modal-adopt-btn:focus {
  background-color: rgba(238, 233, 227, 1);
  color: rgba(2, 6, 10, 1);
  border: 1px solid rgba(136, 118, 92, 1);
}

.modal-adopt-btn:active {
  background-color: #b3a48a;
  color: #1f1f1f;
}


.modal-adopt-btn:disabled {
  background-color: #d9d3cb;
  border-color: #bdb6ad;
  color: #ffffff;
  cursor: not-allowed;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 64px 32px;
  }

  .modal-body {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .modal-left img {
    width: 280px;
    height: 400px;
  }

  .modal-right {
    width: 304px;
  }
  .modal-right p {
    order: 1;
  }
  .modal-adopt-btn {
    order: 0;
    padding: 12px 24px;
    width: 304px;
    height: 45px;
  }
}
@media only screen and (min-width: 1440px) {
  .info-modal {
    width: 1320px;
    padding: 64px;
  }
  .order-modal {
    padding: 64px;
  }
  .modal-left img {
    width: 576px;
    height: 450px;
  }
  .modal-right {
    width: 576px;
  }

  .modal-species {
    font-weight: 400;
    font-size: 14px;
  }
  .modal-name {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }

  .modal-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    color: #02060a;
  }

  .modal-info span {
    font-weight: 400;
    font-size: 14px;
  }

  .modal-right p {
    line-height: 1.5;
    font-size: 16px;
  }
  .modal-right p,
  .modal-adopt-btn {
    order: initial;
  }
  .modal-adopt-btn {
    width: 576px;
    height: 48px;
  }
}
