*,
*::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f4f1;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #02060a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  color: #02060a;
}

button {
  border-radius: 8px;
  color: #ffffff;
  background-color: #88765c;
}

a {
  border-radius: 8px;
  color: #02060a;
  transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    box-shadow 200ms ease,
    transform 200ms ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #88765c;
}

a.disabled,
a[disabled] {
  color: #02060a;
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}

.loader {
  display: block;
  margin: 20px auto;
  width: 64px;
  height: 64px;
}

.loader:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #88765c;
  border-color: #88765c transparent #88765c transparent;
  animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
