/* контейнер: */
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #f6f4f1;
  padding: 64px 0;
}
/* заголовок */
.faq-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 40px;
}
/* картка */
.faq-item {
  min-width: 100%;
  min-height: 112px;
  background: #eee9e3;
  border: 0px solid rgba(2, 6, 10, 0.15);
  border-radius: 8px;
  padding: 20px 24px;
}
/* прибрати дефолти  accordion-js */
.faq .ac .ac-trigger::after,
.faq .ac.is-active > .ac-header .ac-trigger::after {
  content: none;
}
.faq .ac {
  --color-white: #02060a;
  --color-light-grey: #02060a;
  --color-grey: #02060a;
}

/* іконки  */
.faq-icons {
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  position: relative;
  margin-left: 16px;
}

.faq-icons svg {
  position: absolute;
  inset: 0;
  width: 14px;
  height: 14px;
}

/* колір/обводка іконок */
.faq-icons svg use {
  fill: #02060a;
  stroke: #02060a;
  stroke-width: 1.5px;
}

/* перемикання + / close */
.icon-close {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.ac.is-active .icon-plus {
  opacity: 0;
}
.ac.is-active .icon-close {
  opacity: 1;
}

/* Центруемо svg*/
.faq-container .ac .ac-trigger.faq-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.ac-text-title {
  padding-bottom: 8px;
}

.faq-list,
.faq-list-first {
  padding-left: 1.25rem;
  margin: 8px 0 16px;
}

/* Міжпунктні відступи */
.faq-list > li:not(:last-child),
.faq-list-first > li:not(:last-child) {
  margin-bottom: 8px;
}

/* Типи маркерів */
.faq-list {
  list-style: disc;
}

.faq-list-first {
  list-style: decimal;
}

@media only screen and (min-width: 768px) {
  .faq-item {
    min-height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .faq-item {
    max-width: 864px;
  }
}
