.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #c3b49d;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box-logo {
    margin-bottom: 32px;
}

.footer-logo {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 97px; 
    object-fit: contain;
}

.footer-logo-svg{
    color:#332c22;
    width: 100px;
    height: 98px;
    object-fit: contain;
    /* max-width: 100px;
    max-height: 98px; */
}

.footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
}

.footer-nav {
    margin-bottom: 32px;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;

}

.footer-nav-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: #02060a;
}

.footer-nav-list-item {
    transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-nav-list-item:hover,
.footer-nav-list-item:focus {
text-decoration: underline;
    color: #443b2e;
}

.footer-nav-list-item:active {
    text-decoration: underline;
        color: #88765c;
}

.footer-nav-list-item:disabled {
    text-decoration: underline;
        color: #88765c;
        opacity: 0.3;
    }

    .footer-social-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;

    }

    .footer-social-link{
        transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }

    .footer-social-link:hover,
    .ffooter-social-link:focus {
        color: #443b2e;
    }

     .footer-social-link:active {
        color: #88765c;
     }

     .footer-social-link:disabled {
        color: #88765c;
        opacity: 0.3;
     }
     
.footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #02060a;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;
}


@media only screen and (min-width: 768px){
    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
        }

    .footer-box-logo {
        margin-bottom: 50px;
        }

    .footer-nav-list {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
        align-items: center;
        }
    .footer-nav-link {
        font-size: 14px;
        }
}

@media only screen and (min-width: 1440px) {
    .footer-box-logo {
        margin-bottom: 32px;
        }
}