.hero {
  min-width: 320px;
  min-height: 100vh;
  background-image: image-set(
    url('../img/hero/hero-mobile.jpg') 1x,
    url('../img/hero/hero-mobile@2x.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero-content {
  padding-top: 64px;
  padding-bottom: 115px;
  padding-left: 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

.hero-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 171px;
  height: 45px;

  border: 1px solid #88765c;
  border-radius: 8px;
  background: #88765c;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  border: 1px solid #88765c;
  color: #02060a;
  background-color: #eee9e3;
}

.hero-button:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hero-button:disabled,
.hero-button.disabled {
  background-color: #88765c;
  border: 1px solid #88765c;
  opacity: 0.3;
}

@media screen and (min-width: 375px) {
  .hero-content {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: image-set(
      url('../img/hero/hero-tablet.jpg') 1x,
      url('../img/hero/hero-tablet@2x.jpg') 2x
    );
  }

  .hero-content {
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 235px;
    width: 704px;
  }

  .hero-text {
    max-width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: image-set(
      url('../img/hero/hero-desktop.jpg') 1x,
      url('../img/hero/hero-desktop@2x.jpg') 2x
    );
  }

  .hero-content {
    padding-top: 128px;
    padding-left: 64px;
    padding-bottom: 413px;
    width: 622px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-button {
    width: 189px;
    height: 48px;
    font-size: 16px;
  }
}
