.hero {
  background-image: linear-gradient(
      90deg,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    image-set(
      url('../img/hero/hero-mobile.webp') 1x,
      url('../img/hero/hero-mobile@2x.webp') 2x
    );
  min-width: 320px;
  max-width: 375px;
  min-height: 544px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

.hero-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 45px;
  border: 1px solid #88765c;
  border-radius: 8px;
  background: #88765c;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  border: 1px solid #88765c;
  color: #02060a;
  background-color: #eee9e3;
}

.hero-button:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hero-button:disabled,
.hero-button.disabled {
  background-color: #88765c;
  border: 1px solid #88765c;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;

    padding-bottom: 235px;
    background-image: image-set(
      url('../img/hero/hero-tablet.webp') 1x,
      url('..//img/hero/hero-tablet@2x.webp') 2x
    );
  }

  .hero-title {
    max-width: 622px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        90deg,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      image-set(
        url('../img/hero/hero-desktop.webp') 1x,
        url('../img/hero/hero-desktop@2x.webp') 2x
      );
    padding-top: 128px;
    padding-bottom: 413px;
  }

  .hero-content {
    width: 622px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-button {
    width: 189px;
    height: 48px;
    font-size: 16px;
  }
}
