.mobile-menu {
  background-color: #f6f4f1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.no-scroll {
    overflow: hidden;
}

.mobile-menu-container {

  height: 100%;
}


.mobile-menu-close {
      padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;

}

.mobile-menu-svg {
    margin: 0 auto;
  display: block;
  fill: #0b0803;
  margin-right: 9px;

}
.mobile-header{
height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: auto;
  padding-top: auto;
}
.mobile-menu-nav {
margin-top: 16px;
max-width: 335px;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap:32px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.mobile-menu-nav-link{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #0b0803;
}
.mobile-menu-nav-item{
    transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.mobile-menu-nav-item:focus, .mobile-menu-nav-item:hover{
    text-decoration: underline;
    color: #443B2E;
}
.mobile-menu-nav-item:active{
    text-decoration: underline;
        color: #88765C;
}
.mobile-menu-nav-item:disabled{
    text-decoration: underline;
        color: #88765C;
        opacity: 0.3;
}
.mobile-menu-nav>a.mobile-help-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37px;
  background-color: #88765C;
  border: 1px solid #88765C;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    transform 150ms ease,
    box-shadow 150ms ease;
}
.mobile-menu-nav>a.mobile-help-link:hover,
.mobile-menu-nav>a.mobile-help-link:focus {
  background-color: #EEE9E3;
    color: #02060A;
}


.mobile-menu-nav>a.mobile-help-link:active {
  transform: scale(0.97);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);
}

.mobile-menu-nav>a.mobile-help-link:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}


@media only screen and (min-width: 768px) {
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
justify-content:center;
align-items: center;
text-align: center;

max-width: 100%;

}
.mobile-help-link {
width: 196px;
}
}


@media only screen and (min-width: 1440px){
  .mobile-menu{
    display: none;
  }
}
