.order-modal__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #111827;
  align-self: center;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  font-family: 'IBM Plex Sans';
}

.order-form input,
.order-form textarea {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: rgba(2, 6, 10, 0.6);

  background: rgba(2, 6, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;

  outline: none;
  transition: border-color 0.15s ease, box-shadow 0.15s ease,
    background-color 0.15s ease;
}

.order-form input {
  height: 37px;
  padding: 0 8px;
}

.order-form textarea {
  min-height: 120px;
  padding: 12px 14px;
  resize: vertical;
}

.order-form input::placeholder,
.order-form textarea::placeholder {
  color: #9ca3af;
}

.order-form input:hover,
.order-form textarea:hover {
  border-color: #88765c;
}

.order-form input:focus,
.order-form textarea:focus {
  background-color: #eee9e3;
  border-color: #88765c;
  color: rgba(2, 6, 10, 1);
}

.submit-btn {
  width: 100%;
  height: 45px;
  background-color: rgba(136, 118, 92, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: rgba(238, 233, 227, 1);
  color: rgba(2, 6, 10, 1);
  border: 1px solid rgba(136, 118, 92, 1);
}

.submit-btn:active {
  background-color: #88765c;
  color: #1f1f1f;
  box-shadow: rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.08);
}

.submit-btn:disabled {
  background-color: rgba(136, 118, 92, 1);
  border-color: rgba(136, 118, 92, 1);
  color: #ffffff;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .submit-btn {
    width: 240px;
    height: 45px;
  }
  .order-modal {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .order-modal {
    padding: 64px;
    width: 768px;
  }
  .submit-btn {
    height: 48px;
  }
  .order-modal__title {
    font-size: 40px;
  }
}
