/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./pets-list.css');
@import url('./about-us.css');
@import url('./faq.css');
@import url('./success-stories.css');
@import url('./animal-detail.css');
@import url('./order-model.css');
@import url('./footer.css');

